# Dependencies
node_modules/

# Built web assets (copied from web repo)
www/

# Capacitor iOS build artifacts
ios/App/App/public/
ios/App/Pods/
ios/.DS_Store
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/DerivedData/

# Capacitor Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/.DS_Store

# Environment
.env
.DS_Store

# Xcode
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcscmblueprint
